{% extends 'animalerie/base.html' %}
{% block content %}

<!-- <html>
    <head>
        <title>Animalerie-List</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Animalerie</a></h1>
        </div> -->

{% block anim %}
        <h2 style="text-align:center"><a>Animaux</a></h2>
        <div class="grid-container">
    {% for animal in animals %}
        <div class="grid-item text-center">
            <h3><a href="{% url 'animal_detail' id_animal=animal.id_animal %}">{{ animal.id_animal }}</a></h3>
            <img src={{animal.photo}} width="300px" height="300px">
            <p>État: <span><e1> {{animal.etat}} </e1></span> </p>
            <p>Lieu: <span><e1> {{animal.lieu}} </e1></span> </p>
            <a href="{% url 'animal_detail' id_animal=animal.id_animal %}" class="btn btn-info" role="button">Plus de détails</a>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block equip %}
    <h2 style="text-align:center"><a>Équipements</a></h2>
    <div class="grid-container">
    {% for equip in equipements %}
        <div class="grid-item text-center">
            <h3><a href="">{{ equip.id_equip }}</a></h3>
            <img src={{equip.photo}} width="300px" height="300px">
            <p>Disponibilité: <span><e1> {{ equip.disponibilite }} </e1></span> </p>
        </div>
    {% endfor %}
    </div>
{% endblock %}
{% endblock %}